<!--ici la page permettant d'ajouter un kiosque-->
<ion-view view-title="{{'ajouter_kiosque' | translate}}">
  <ion-content>
    <div class="list list-inset">
      <!--<label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>-->
      <form name="form" novalidate>
      <div class="list">


          <!--<div class="input-label">
            Services
          </div>-->
          <!--<select name="service" ng-model="data.service" required>
            <option ng-repeat="ser in services" value="{{ser.id}}">{{ser.nom}}</option>
          </select>-->

        <!--<ion-checkbox ng-repeat="ser in services" ng-model="ser.checked" ng-checked="ser.checked">{{ser.nom}}</ion-checkbox>-->
        <div class="input-label">
              {{"disponibilite" | translate}}
            </div>
        <ion-checkbox ng-model="data.depot" ng-checked="data.depot.checked">{{"depot" | translate}}</ion-checkbox>
        <ion-checkbox ng-model="data.retrait" ng-checked="data.retrait.checked">{{"retrait" | translate}}</ion-checkbox>

      </div>
        <label class="item item-input">
          <input type="text" name="nom_kiosque" ng-model="data.nom_kiosque" placeholder="{{'nom_kiosque' | translate}}" required>
        </label>
      <label class="item item-input">
        <input type="text" name="ville" ng-model="data.ville" placeholder="{{'ville' | translate}}" required>
      </label>
      <label class="item item-input">
        <input type="text" name="quartier" ng-model="data.quartier" placeholder="{{'quartier' | translate}}" required>
      </label>
      <label class="item item-input">
        <textarea type="text" name="description" ng-model="data.description" placeholder="Description">
          </textarea>
      </label>
      <label class="item item-input">
        <input type="text" name="latitude" ng-model="data.latitude" placeholder="Latitude" required>
      </label>
      <label class="item item-input">
        <input type="text" name="longitude" ng-model="data.longitude" placeholder="Longitude" required>
      </label>
      </form>
      <button class="button button-block orange_color" ng-click="changer_position()">{{'changer_position' | translate}}</button>
      <button class="button button-block orange_color" ng-click="compte_boutique(form.$valid)" type="submit">{{'valider' | translate}}</button>
      <p style="color: red">{{erreur_nom_kiosque}}</p>
      <span style="color: red" ng-show="form.nom_kiosque.$invalid"> *{{'nom_kiosque_requis' | translate}}</span><br>
      <!--<span style="color: red" ng-show="form.service.$invalid"> *Le type de service est obligatoire</span><br>-->
      <span style="color: red" ng-show="form.ville.$invalid"> *{{'ville_requis' | translate}}</span><br>
      <span style="color: red" ng-show="form.quartier.$invalid"> *{{'quartier_requis' | translate}}</span><br>
      <span style="color: red" ng-show="form.latitude.$invalid"> *{{'latitude_requis' | translate}}</span><br>
      <span style="color: red" ng-show="form.longitude.$invalid"> *{{'longitude_requis' | translate}}</span>

    </div>
  </ion-content>
</ion-view>
