<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <form name="myForm">
      <label class="item item-input">
        <input type="text" name="name" placeholder="Nom" ng-model="data.nom" required>
      </label>
      <label class="item item-input">
        <input type="text" name="surname" placeholder="Prénom" ng-model="data.prenom" required>
      </label>
      <label class="item item-input">
        <input type="tel" name="phone" placeholder="Téléphone" ng-model="data.tel" required>
      </label>
      <label class="item item-input">
        <input type="text" name="username" placeholder="Nom d'utilidateur" ng-model="data.username" required>
      </label>
      <label class="item item-input">
        <input type="password" name="password" placeholder="Mot de passe" ng-model="data.password" ng-minlength="6" required>
      </label>
      <label class="item item-input">
        <input type="password" name="confirm_password" placeholder="Confirmation du mot de passe" ng-model="data.password_confirm">
      </label>
      </form>
    </div>
    <div class="padding">
      <p style="color:red;" ng-repeat="err in error">{{err}}</p>
    </div>
    <div class="padding">
      <p ng-show="myForm.name.$error.required">* Name is required</p>
      <p ng-show="myForm.surname.$error.required">* Surname is required</p>
      <p ng-show="myForm.phone.$error.required">* Phone is required</p>
      <p ng-show="myForm.username.$error.required">* Username is required</p>
      <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
      <p ng-show="myForm.password.$error.required">* Password is required</p>
      <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
    </div>
    <button class="button button-block button-calm" ng-click="register(myForm.$valid)">Register</button>
  </ion-content>
</ion-view>
