<ion-view view-title="{{'creation_compte' | translate}}" name="login-view">
  <ion-nav-bar class="bar_color">
    <ion-nav-back-button class="bar_color"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <form name="myForm">
      <label class="item item-input">
        <input type="text" name="name" placeholder="{{'nom' | translate}}" ng-model="data.nom" required>
      </label>
      <label class="item item-input">
        <input type="text" name="surname" placeholder="{{'prenom' | translate}}" ng-model="data.prenom" required>
      </label>
      <label class="item item-input">
        <input type="tel" name="phone" placeholder="{{'phone' | translate}}" ng-model="data.tel" required>
      </label>
      <label class="item item-input">
        <input type="text" name="username" placeholder="{{'nom_utilisateur' | translate}}" ng-model="data.username" required>
      </label>
      <label class="item item-input">
        <input type="password" name="password" placeholder="{{'mot_passe' | translate}}" ng-model="data.password" ng-minlength="6" required>
      </label>
      <label class="item item-input">
        <input type="password" name="confirm_password" placeholder="{{'confirm_mot_passe' | translate}}" ng-model="data.password_confirm">
      </label>
      </form>
    </div>
    <div class="padding">
      <p style="color:red;" ng-repeat="err in error">{{err}}</p>
    </div>
    <button class="button button-block orange_color" ng-click="register(myForm.$valid)">{{'enregistrer' | translate}}</button>
    <div class="padding" style="color: red">
      <p ng-show="myForm.name.$error.required">* {{'nom_requis' | translate}}</p>
      <p ng-show="myForm.surname.$error.required">* {{'prenom_requis' | translate}}</p>
      <p ng-show="myForm.phone.$error.required">* {{'tel_requis' | translate}}</p>
      <p ng-show="myForm.username.$error.required">* {{'username_requis' | translate}}</p>
      <!--<p ng-show="myForm.username.$error.minlength">* Le nom d'utilisateur doit avoir au moins 5 caractères</p>-->
      <p ng-show="myForm.password.$error.required">* {{'password_requis' | translate}}</p>
      <p ng-show="myForm.password.$error.minlength">* {{'password_min_length' | translate}}</p>
    </div>
  </ion-content>
</ion-view>
