<ion-view view-title="{{'titre_statut_kiosque' | translate}}">
  <ion-content>
    <ion-list>
      <div class="padding">
        <h5 style="text-align: center">{{texte_boutique}}</h5>
        <p>{{aucune_boutique}}</p>
        <ul class="list" ng-repeat="kiosque in kiosques_user">

          <ion-toggle
            ng-model="kiosque.statut"
            ng-checked="kiosque.statut">
            {{ kiosque.nom_kiosque }}
          </ion-toggle>
          <ion-checkbox ng-model="kiosque.depot" ng-change="change_depot($index)" ng-checked="kiosque.depot">{{'depot' | translate}}</ion-checkbox>
          <ion-checkbox ng-model="kiosque.retrait" ng-checked="kiosque.retrait">{{'retrait' | translate}}</ion-checkbox>
          <button class="button orange_color" ng-click="update_statut($index)">{{'valider' | translate}}</button>
        </ul>
      </div>


    </ion-list>

  </ion-content>
</ion-view>
