<ion-view view-title="{{'update_compte' | translate}}">
  <ion-content>

    <div class="list list-inset">
      <form name="myForm">
        <label class="item item-input">
          <input type="text" name="name" placeholder="{{'nom' | translate}}" ng-model="data.nom" required>
        </label>
        <label class="item item-input">
          <input type="text" name="surname" placeholder="{{'prenom' | translate}}" ng-model="data.prenom" required>
        </label>
        <label class="item item-input">
          <input type="tel" name="phone" placeholder="{{'tel' | translate}}" ng-model="data.tel" required>
        </label>
        <label class="item item-input">
          <input type="text" name="username" placeholder="{{'nom_utilisateur' | translate}}" ng-model="data.username" required>
        </label>
        <p>{{'changer_password' | translate}}</p>
        <label class="item item-input">
          <input type="password" name="password" placeholder="{{'nouveau_password' | translate}}" ng-model="data.password" ng-minlength="6" required>
        </label>
        <label class="item item-input">
          <input type="password" name="confirm_password" placeholder="{{'confirm_mot_passe' | translate}}" ng-model="data.password_confirm">
        </label>
      </form>
    </div>
    <div class="padding">
      <p style="color:red;">{{error_nouveau_tel}}</p>
      <p style="color:red;">{{error_username}}</p>
    </div>
    <div class="padding">
      <button class="button button-block orange_color" ng-click="update_compte()">{{'valider' | translate}}</button>
      <p ng-show="myForm.name.$touched && myForm.name.$error.required">* {{'nom_requis' | translate}}</p>
      <p ng-show="myForm.surname.$touched && myForm.surname.$error.required">* {{'prenom_requis' | translate}}</p>
      <p ng-show="myForm.phone.$touched && myForm.phone.$error.required">* {{'tel_requis' | translate}}</p>
      <p ng-show="myForm.username.$touched && myForm.username.$error.required">* {{'username_requis' | translate}}</p>
     <!-- <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>-->
      <p ng-show="myForm.password.$error.minlength">* {{'password_min_length' | translate}}</p>
    </div>

  </ion-content>
</ion-view>
